@charset "UTF-8";

/* Estilo de impressoras */

* {
    margin: 0px;
    padding: 0px;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
    align-content: center;
    background-color: rgb(204, 204, 204);
    height: 80px;
}

header nav ul {
    background-color: black;
    width: 100%;
    list-style: none;
    display: none;
}

main article {
    width: 95%;
    display: block;
    margin: auto;
    background-color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: justify;
    line-height: 30px;
}

main article p {
    margin:  10px 10px;
}

main article ul {
    list-style-position: inside;
    margin: 10px 50px;
}

article::after {
    content: "Artigo produzido por Igor Araújo - Data: 22/06/2025"
}

